accelerate 
albumentations
evaluate
fastapi
ipykernel
ipywidgets
jiwer
matplotlib
numpy
opencv-python
pandas
pillow
pynvml
python-multipart
seaborn
scipy
transformers==4.30.2
tqdm
ultralytics
uvicorn
--extra-index-url https://download.pytorch.org/whl/cu118
torch
--extra-index-url https://download.pytorch.org/whl/cu118
torchvision
--extra-index-url https://download.pytorch.org/whl/cu118
torchaudio