:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --text-color: #333;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ecf0f1;
    margin: 20px;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1, h2 {
    color: var(--text-color);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    transition: color 0.3s ease;
}

a:hover {
    color: var(--secondary-color);
}

form {
    max-width: 600px;
    margin-top: 20px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
    color: var(--text-color);
}

button {
    padding: 12px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--secondary-color);
}

select, input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#drop-area {
    border: 2px dashed var(--primary-color);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

#drop-area.highlight {
    border-color: var(--secondary-color);
    background-color: #f0f8ff;
}

#log-container {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 12px;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 4px;
}

/* 미디어 쿼리 추가 */
@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }
}
