<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='styles.css') }}">
    <title>데이터 전처리</title>
</head>
<body>
    <h2>데이터 전처리</h2>
    <form action="{{ url_for('preprocess') }}" method="post">
        <select name="mode" id="mode">
            <option value="train">Train</option>
            <option value="val">Validation</option>
            <option value="test">Test</option>
        </select>
        <div class="button-container">
            <button type="submit">데이터 전처리 실행</button>
            <button type="submit" form="delete-form" onclick="return confirm('전처리한 파일을 삭제하시겠습니까?')">삭제</button>
        </div>
    </form>
    <form id="delete-form" action="{{ url_for('delete_datasets') }}" method="post">
    </form>
</body>
</html>
