<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='styles.css') }}">
    <script src="{{ url_for('static', path='common.js') }}"></script>
    <title>데이터 파일 업로드</title>
</head>
<body>
    <h2>데이터 파일 업로드</h2>

    <!-- 업로드 폼 -->
    <form id="upload-form" action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
        <!-- 드래그 앤 드롭 영역 -->
        <div id="drop-area" class="drop-area">
            <span>파일을 여기에 드래그 앤 드롭 또는 클릭하여 선택하세요.</span>
            <input type="file" name="file" id="fileInput" multiple>
        </div>

        <!-- 버튼 -->
        <div class="button-container">
            <button type="submit">업로드</button>
            <button type="submit" form="delete-form" onclick="return confirm('업로드한 파일을 삭제하시겠습니까?')">삭제</button>
        </div>
    </form>
    
    <!-- 삭제 폼 -->
    <form id="delete-form" action="{{ url_for('delete_folder') }}" method="post">
    </form>
</body>
</html>
